<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242515449502-rbn04vcilugu2h8a5fb8eiiatri8h19j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242515449502-rbn04vcilugu2h8a5fb8eiiatri8h19j</string>
	<key>API_KEY</key>
	<string>AIzaSyAloMwuy9RqSKmdbo6p2LNjjVaBZBKqL9U</string>
	<key>GCM_SENDER_ID</key>
	<string>242515449502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocPattern.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>blocpattern-1e480</string>
	<key>STORAGE_BUCKET</key>
	<string>blocpattern-1e480.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242515449502:ios:4b0a3d6a48180e7372cd8f</string>
</dict>
</plist>